snippet react
'use strict';

import React, { Component } from 'react';
import {
  StyleSheet,
  View
} from 'react-native';

export default class $1  extends Component{
	render() {
		return(
		 <View/>
		);
	}
};

var styles=StyleSheet.create({

});

endsnippet

snippet funct
export default function(){

}
endsnippet

snippet obj
export default {

}
endsnippet
